@font-face {
  src: url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-family: "Oswald-Regular";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Oswald/Oswald-Bold.ttf") format("truetype");
  font-family: "Oswald-Bold";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Oswald/Oswald-Medium.ttf") format("truetype");
  font-family: "Oswald-Medium";
  font-weight: 500;
}
